/* Common Styles */
* {
    padding: 0;
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-style: oblique;
}

li {
    list-style-type: none;
}

/* Dark-Light Mode Styles */
body.dark-mode {
    background-color: #1b1b1b;
    color: white;
}

body {
    height: 100vh;
    color: #1b1b1b;
    background-color: white;
    transition: all 500ms;
}

/* Header Section Styles */
#head {
    display: flex;
    justify-content: space-between;
    padding: 7px 15px;
    border-bottom: 1px solid rgb(175, 175, 175);
    height: 75px;
}

#logo {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#logo-img {
    height: 70px;
}

#nav {
    padding: 15px;
    display: flex;
    align-items: center;
}

.nav-item {
    display: inline;
    margin: 0 20px;
    font-weight: 500;
}

.nav-item:hover{
    color: #d55959;
    cursor: pointer;
}

#dark-light-toggle {
    color: #ffaa00;
}

.nav-item i {
    text-align: center;
    border-radius: 50%;
    height: 15px;
    width: 15px;
    border: 1px solid whitesmoke;
    background-color: #1b1b1b;
    padding: 10px;
}

.nav-item i:hover {
    background-color: black;
    color: white;
    cursor: pointer;
    transition: all 500ms;
}

/* Content Section Styles */
#content {
    padding: 20px;
    display: flex;
    height: 80vh;
}

#sidebar, #data {
    padding: 20px;
    overflow-y: auto;
}

#sidebar {
    width: 330px;
}

#sidebar-title {
    margin-bottom: 20px;
    color: #d55959;
}

#sidebar::-webkit-scrollbar {
    width: 15px;
}

#sidebar::-webkit-scrollbar-track {
    border-radius: 8px;
    background-color: #e7e7e7;
    border: 1px solid #cacaca;
}

#sidebar::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 3px solid transparent;
    background-clip: content-box;
    background-color: #d55959;
}

#content-list li {
    margin: 20px 0;
    padding: 10px;
    font-weight: 500;
}

#content-list li:hover {
    background-color: #d55959;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

#data {
    width: 100%;
}